# Copy this file to deploy-server.env and edit values before running deploy-server.sh
APP_DIR=/var/www/web-printer
REPO_URL=https://github.com/datakoarmada3-glitch/Web-Print.git
APP_URL=http://192.168.1.50
DB_NAME=web_printer
DB_USER=web_printer
DB_PASSWORD=ChangeMe123!
PRINTER_IP=10.3.105.224
CUPS_PRINTER_NAME=canon_ir2625
PHP_VERSION=8.3
